<table class="table table-sm table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let role of this.roleService.roleList">
    <td>{{role._id}}</td>
    <td>{{role.name}}</td>
  </tr>
</table>
