<div class="container-fluid">
  <h2 class="jumbotron bg-secondary text-center">Roles Management</h2>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <app-role-list></app-role-list>
    </div>
  </div>
</div>
